/* Reset some default styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'franklin gothic book';
    background-color:peachpuff;
    color: black;
    padding: 25px;
  }
  
  header {
    text-align: center;
    margin-bottom: 25px;
  }
  
  #filter-section, #activities-section {
    margin: 25px 0;
  }
  
  #filter-section select, #generate-activity {
    margin: 10px;
  }
  
  #activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .activity-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background: #fff;
  }
  