/* Reset some default styling */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  background-color:peachpuff;
  color: black;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#filter-section, #activities-section {
  margin: 10px;
}

#filter-section select, #generate-activity {
  width: 200px;
  height: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 5px;
}

#activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.activity-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  background: #fff;
}
footer {
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  color: grey;
  margin-top: 20px;
}

.disclaimer {
  margin: 0;
}
